.DS_Store
/.build
/Packages
/*.xcodeproj
Package.resolved
.swiftpm/xcode/xcuserdata/mafalda.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcworkspacedata
*.xcuserstate
Package.resolved
.swiftpm/xcode/xcshareddata/xcschemes/RedShot.xcscheme
